@import "tailwindcss";

:root {
  --gray-color: #EFEFEF;
  --text-gray-color: #9A9A9A;
  --text-color: #1A1A1A;
  --white-color: #FFFFFF;
  --accent-color: #D9042B;
  --accent-light-color: #FDFAF9;

  --red-letters: #F74D4D;
  --green-letters: #8ADF8D;

  /* グラデーションはまた後で */
  --gradation-gold-color: linear-gradient(#F0C576, #D2B175, #BC9141);
  --gradation-silver-color: linear-gradient(#C4BCBC, #948F8F, #BFBDBD);
}

/* グラデーション */
.text-gold {
  background: var(--gradation-gold-color);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
.text-silver {
  background: var(--gradation-silver-color);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
.border-gold {
  padding: 2px;
  border-radius: 12px;
  background: linear-gradient(#F0C576, #D2B175, #BC9141);
}
.border-silver {
  padding: 2px;
  border-radius: 12px;
  background: linear-gradient(#C4BCBC, #948F8F, #BFBDBD);
}
.inner-gold {
  background: #fff;
  border-radius: 10px;
  padding: 1px;
}


@theme {
  /* カラー */
  --color-gray: var(--gray-color);
  --color-text-gray: var(--text-gray-color);
  --color-text: var(--text-color);
  --color-white: var(--white-color);
  --color-accent: var(--accent-color);
  --color-accent-light: var(--accent-light-color);

  --color-red-letters: var(--red-letters);
  --color-green-letters: var(--green-letters);



  /* ボックスシャドウ */
  --shadow-top: 0px -2px 5px -2px rgba(0,0,0,0.5);
  --shadow-bottom: 0px 2px 5px -2px rgba(0,0,0,0.5);

  /* フォントサイズ */
  --text-h1: 24px;
  --text-h2: 20px;
  --text-h3: 18px;
  --text-normal: 16px;
  --text-label: 14px;
  --text-small: 12px;
}

/* ========== ↓ スライドイン、スライドアウトアニメーション ↓ ========== */

@keyframes slideIn {
  0% {
    transform: translateY(450px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideOut {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(450px);
  }
}

.anim-slidein {
  animation: slideIn 0.5s cubic-bezier(0.1, 1, 0.2, 1) forwards;
}
.anim-slideout {
  animation: slideOut 0.75s cubic-bezier(0.1, 1, 0.2, 1) forwards;
}

/* ============================================================= */

